//bs-banner
.bs-banner {
    $self: &;
    height: calc(100vh - rem(156px));
    overflow: hidden;
    @include mq-below($sm) {
        height: calc(100vh - rem(72px));
    }

    @include mq-between($sm, $md2){
        @include orientation(portrait){
            height: auto;
        }
    }

    &__swiper-container {
        height: 100%;

        .swiper-button-prev,
        .swiper-button-next {
            width: rem(50px);
            height: rem(50px);

            @include mq-below($md){
                width: rem(36px);
                height: rem(36px);
                top: auto;
                bottom: rem(20px);
            }

            &:after {
                content: "";
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: 0 0;
                background-repeat: no-repeat;
            }
        }

        .swiper-button-prev {
            left: rem(96px);

            @include mq-below($md){
                left: rem(20px);
            }
            &:after {
                background-image: url("../../images/icons/arrow-left.svg");
            }
        }

        .swiper-button-next {
            right: rem(96px);
            @include mq-below($md){
                right: rem(20px);
            }
            &:after {
                background-image: url("../../images/icons/arrow-right.svg");
            }
        }
    }

    &__swiper-slide {
        position: relative;

        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 1;
            @include background-opacity($clr-black, 0.2);
        }

        #{$self}__slide-info {
            position: absolute;
            left: 0;
            right: 0;
            bottom: rem(50px);
            z-index: 2;
            text-align: center;
            max-width: rem(997px);
            margin: 0 auto;

            
        }
    }

    &__slide-category{
        font-size: $fs-h3;
        line-height: $lh-h3;
        text-transform: uppercase;
        font-weight: $font-semi-bold;
        color: $clr-white;

        @include mq-below($md){
            font-size: $fs-h6;
            line-height: $lh-h6;
        }
    }

    &__slide-title {
        font-size: $fs-h1-md;
        line-height: $lh-h1-md;
        color: $clr-white;
        font-family: $font2;
        margin-block-end: rem(30px);

        @include mq-below($md) {
            font-size: $fs-h3;
            line-height: $lh-h3;
        }
    }

    &__video-wrap {
        height: 100%;
        position: relative;

        #{$self}__slide-info {
            position: absolute;
            left: 0;
            right: 0;
            bottom: rem(50px);
            z-index: 1;
            text-align: center;

            @include mq-below($md){
                text-align: left;
                left: rem(20px);
            }

            @include mq-between($sm, $md2){
                @include orientation(portrait){
                    text-align: center;
                }
            }
        }

        &__action{
            position: absolute;
            bottom: rem(50px);
            left: rem(96px);
            z-index: 2;
            @include mq-below($md){
                right: rem(20px);
                left: auto;
            }

            @include mq-between($sm, $lg){
                @include orientation(portrait){
                    right: rem(20px);
                    left: auto;
                }
            }
        }
    }

    &__video, video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        @include mq-below($sm){
            object-position: 65%;
        }
        @include mq-between($sm, $md2){
            @include orientation(portrait){
                object-fit: contain;
            }
        }
    }

    &--typ-small{
        height: 50vh;
        @include mq-below($sm){
            height: 35vh;
        }
        
        @include mq-between($sm, $lg){
            @include orientation(portrait){
                height: 30vh;
            }
        }

        #{$self}__media{
            width: 100%;
            height: 100%;
        }

        #{$self}__image{
            object-fit: fill;

            @include mq-below($sm){
                object-fit: cover;
            }
        }

    }

    &--typ-slide{
        @include mq-below($sm){
            height: calc(70vh - 4.5rem);
        }

        #{$self}__slide-image{
            @include mq-below($sm){
                height: 100%
            }
        }

        #{$self}__slide-info{
            padding: 0 rem(20px);
        }
    }
}
