//lyt-wishlist
.lyt-wishlist{
    $self:&;

    &__title{
        font-size: $fs-h3;
        line-height: $lh-h3;
        text-transform: uppercase;
    }

    &__header{
        margin-block-end: rem(44px);
    }

    &__product-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(44px);
    }
}